<div class="row text-center">
  <div class="row">
    <h2>Personalizar</h2>
  </div>
  <br />
  <div class="row">
    <div class="col-md-4">
        <div>
        </div>
        <div >
          <%= link_to  "Bag", category_articles_path(6), class: 'btn btn-success' %>
        </div>
    </div>
    <div class="col-md-4"><div>
        </div>
        <div >
          <%= link_to  "Scarf", category_articles_path(7), class: 'btn btn-success' %>
        </div>
    </div>
    <div class="col-md-4"><div>
        </div>
        <div >
          <%= link_to  "Carpet", category_articles_path(8), class: 'btn btn-success' %>
        </div>
    </div>
  </div>

</div>
