$font-body: 'Open Sans Condensed', sans-serif
$font-title: 'Cedarville Cursive', cursive

$font-size-small:	16px
$font-size-regular:	22px
$font-size-large:	32px
$font-size-x-large:	48px
$font-size-xx-large: 60px

$color-red: #EC2145
$color-grey: #818285
$color-grey-medium: #b5b5b5
$color-grey-light: #e7e7e7

$screen-sm-min: 768px
$screen-xs-max: ($screen-sm-min - 1)
$screen-md-min: 992px
$screen-sm-max: ($screen-md-min - 1)
$screen-lg-min: 1200px
$screen-md-max: ($screen-lg-min - 1)