<div class="row text-center">
  <div class="row">
    <h2>Nuevo Producto</h2>
  </div>
<ul>
     <% Category.all.each do |category| %>
    <li><%= link_to category.category_name, products_path(category: category.category_name) %></li>
    <% end %>
</ul>

</div>
