<div class="row text-center">
  <div class="row">
    <h2>Personalizar</h2>
  </div>

  <div class="row">
    <div class="col-md-4"> <%= link_to "Bolsos", new_product_path %> </div>
    <div class="col-md-4"> <%= link_to "Pañoleta", new_product_path %> </div>
    <div class="col-md-4"> <%= link_to "Tapetes", new_product_path %> </div>
  </div>
  <br />
  <br />
</div>
