<div class="footer col-lg-12">
  <div class="container">
    <div class="socials col-lg-12 col-md-12 col-s-12">
    <ul class="social">
      <li class="social-item"><a href="" class="social-item--link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li class="social-item"><a href="" class="social-item--link"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social-item"><a href="" class="social-item--link"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social-item"><a href="" class="social-item--link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
    </ul>
    </div>
    <div class="legal col-lg-12 col-md-12 col-s-12">
     <p class="col-lg-12 col-md-12 col-s-12">
      Copyrights Anastasia Inc. All Rights Reserved 2016
     </p>
    </div>
  </div>
</div>
